@use "../abstract/_all" as *;

.two-column {
  /*   border:1px solid red;
 */
  max-width: 85%;
  margin: 0 auto;

  @include clear-float;

  .intro__left {
    margin-right: 3rem;
    /*     border: 1px solid rgb(56, 54, 199);
 */
    @include float-colu(3rem, 1, 2);
    @include respond(phone) {
      width: 100%;
    }
  }
  .intro__right {
    border: 1px solid rgb(56, 54, 199);
    @include float-colu(3rem, 1, 2);
    @include respond(phone) {
      width: 100%;
    }
  }
}
