
@mixin float-colu($gap-size, $gap-number, $column-number){
  float: left;
    width: calc((100% - ($gap-number * $gap-size)) / $column-number);
  }

@mixin button-click($background-color){
    &:hover{
      transform: translateY(-.2rem);
      @if $background-color == rgba(60, 95, 43,0.5){
        background-color: rgba($background-color,0.5);
        color: aliceblue;
      }
    }
      &:active{
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem .6rem hsl(0, 0%, 0%,0.3);
      }
  
  }
@mixin clear-float{  
  &::after{
    content: '';
    clear: both;
    display: table;
  }

}
@mixin icon-tooltip($icon-name){
  &:hover::after{
    content: $icon-name;
    position: absolute;
    margin-top: .4rem;
    font-size: 6px;
    top:100%;
    left: 0;
    opacity: 1;
  }
}
@mixin center-absolute{
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* 
phone: <600px;
tab-portrait<900px;
tab-landscape:< 1200px;
desktop <1800px;
*/


/* 1em=16px */
@mixin respond($breakpoint) {
  @if $breakpoint == phone{
       @media (max-width:37.3em) {
        @content;
       }
  }
  @if $breakpoint == tab-por{
    @media (max-width:56.25em) {
     @content;
    }
  }
  @if $breakpoint == tab-land{
    @media (max-width:75em) {
    @content;
    }
  }
  @if $breakpoint == desktop{
    @media (max-width:112.5em) {
    @content;
    }
  }

}