
@mixin float-colu($gap-size, $gap-number, $column-number){
  float: left;
    width: calc((100% - ($gap-number * $gap-size)) / $column-number);
  }

@mixin button-click($background-color){
    &:hover{
      transform: translateY(-.2rem);
      @if $background-color == rgba(60, 95, 43,0.5){
        background-color: rgba($background-color,0.5);
        color: aliceblue;
      }
    }
      &:active{
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem .6rem hsl(0, 0%, 0%,0.3);
      }
  
  }
@mixin clear-float{  
  &::after{
    content: '';
    clear: both;
    display: table;
  }

}