

$color-1:hsla(108, 58%, 60%, 0.5);
$color-2:hsla(102, 65%, 43%, 0.5);
$color-btu:rgba(255, 255, 255);
$main-font-color:hsl(0, 0%, 100%);
$main-gray:rgb(243, 245, 227);
$text-bg-color-1:hsl(108, 24%, 51%);
$text-bg-color-2:hsl(102, 78%, 63%);
$head-color:rgb(60, 95, 43);
$icon-color:rgb(45, 72, 59);
$color-gray:rgb(220, 246, 224);
$color_yellow:rgb(240, 189, 111);
$color_blue:rgb(109, 161, 161);
$color_black:rgba(0, 0, 0, 0.8);
$color_black-2:rgba(0, 0, 0, 0.3);


$font-h1:5rem;
$font-h2:4rem;
$font-h3:3rem;
$font-h4:2rem;
$font-h5:1.4rem;
$p-small:1.3rem;




$box-shadow:0 0 3px 3px hsl(0, 0%, 0%,0.2);
$box-shadow-biger:0 0 6px 6px hsl(0, 0%, 0%,0.3);

