.uppercase{
  text-transform: uppercase;
}
.margen-button-large{margin-bottom: 3rem; }
.margen-button-medium{margin-bottom: 1rem; }
.margen-button-small{margin-bottom: .3rem; }

.textAlign-start{text-align: start;}
.textAlign-center{text-align: start;}