@use "../abstract/_all" as *;

.flip{
perspective: 150rem;
height: 25rem;
position: relative;

  &__card{
    position: absolute;
    height: 25rem;
    width: 100%;
   backface-visibility: hidden;
  transition: transform 1s;
  border-radius: 3px;
  box-shadow: $box-shadow;

  }
  &__front{
    background-color:green;
    &_1{
      background-color:$color-gray;
    }
   
  }
  &__back{
    background-color:rgb(122, 55, 176);
  transform: rotateY(180deg);
   &_1{
    background-color:$color-2;

   }
   &_2{
    background-color:$color_yellow;

   }
   &_3{
    background-color:$color_blue;

   }
  }

  &:hover &__front{
    transform: rotateY(180deg);
    }
  &:hover &__back{
      transform: rotateY(0deg);
      }
}