@use "../abstract/_all" as *;

.intro{
padding: 11rem 0;
margin-top: -20vh;
}


.info{
  background-image:linear-gradient(to bottom, $color-1, $color-2) ,url(img/nat-4.jpg);
  background-size: cover;
  padding: 10rem 0;
  &__card{
   padding: 1rem;
   background-color: rgba($main-gray, 0.9);
   box-shadow: $box-shadow;
   transition: box-shadow .6s,transform .6s;
    border-radius: 3px;
   &:hover{
    scale: (1.1);
    box-shadow: $box-shadow-biger;

   }
  }

   }

   .tours{

    padding: 10rem 0;
    position: relative;

    &__img{
      height: 10rem;
      border-radius: 3px;
      background-size:cover ;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      &_1{
        background-image: url(../img/nat-5.jpg);
      }
      &_2{
        background-image: url(../img/nat-6.jpg);
      }
      &_3{
        background-image: url(../img/nat-7.jpg);
      }
    
    }
  

    &__b_1{
      background-color: $color-2;
    }
    &__back-box{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: $color-gray;
    }
    &__price{
      font-size: $font-h3;
    }
   }

   .feedback{
    padding:10rem 0;
    border: 1px solid red;


    &__box{
      margin: 0 auto;
padding: 1rem;
      border: 1px solid rgb(89, 0, 255);
      max-width: 70%;
      text-align: left;
      box-shadow: $box-shadow;
     transform: skewX(-5deg) ;
     
   & > * {
    transform: skewX(5deg);
  }
 }
 &__circle{
/* transform: translateX(-1rem); */
  margin-right: 1rem;
  position: relative;
z-index: 999;
      &:hover .feedback__caption{
    top: 50%;
  }
  &:hover .feedback__img{
    transform: scale(1);
    /* filter: blur(1px); */

} 
}
  
 &__img{
    height: 100%;
    transform: translate(-1.3rem);
    transition: transform .7s;
    backface-visibility: hidden;
  transform: scale(1.4);
  
}
  &__caption{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: $font-h4;
    transition: top 1s;
    /* opacity: 0; */
 

  }

}